<select class="bl-location__lang" value="{{t 'locale'}}" {{action 'localeSwitch' on="change"}}>
  <option class="lang-ua"  value="ua">1</option>
  <option class="lang-rus" value="rus">2</option>
  <option class="lang-en" value="en">3</option>
</select>
{{yield}}
