<form action="#" method="get" class="bl-header__form">
  <input class="bl-header__input-search" type="search" placeholder="{{t 'header.input_placeholder'}}" required>
  <button class="bl-header__btn" type="submit"></button>
</form>
<span class="bl-header__now-search">{{search}} {{t 'header.now_seeking'}}</span>
{{yield}}
