<div class="bl-catalog col-xs-3">
  <p class="bl-catalog__title _no-drop" {{action 'expand' on="click"}}>{{t 'cat.caption'}}</p>
  <ul class="" {{bind-attr class='expanded :bl-catalog__list :list-unstyled'}}>
    <li class="bl-catalog__item">
      <a href="#" class="bl-catalog__link">Одяг</a>
      <ul class="bl-catalog__list drop list-unstyled">
        <li class="bl-catalog__drop-item">
          <p class="bl-catalog__drop-title">Жінки</p>
          <a class="bl-catalog__drop-link" href="#">Верхній одяг</a>
          <a class="bl-catalog__drop-link" href="#">Сукні</a>
          <a class="bl-catalog__drop-link" href="#">Блузи</a>
          <a class="bl-catalog__drop-link" href="#">Спідниці</a>
          <a class="bl-catalog__drop-link" href="#">Джинси</a>
          <a class="bl-catalog__drop-link" href="#">Футболки</a>
          <a class="bl-catalog__drop-link" href="#">Білизна</a>
          <a class="bl-catalog__drop-link" href="#">Светри</a>
        </li>
        <li class="bl-catalog__drop-item">
          <p class="bl-catalog__drop-title">Чоловіки</p>
          <a class="bl-catalog__drop-link" href="#">Верхній одяг</a>
          <a class="bl-catalog__drop-link" href="#">Сорочки</a>
          <a class="bl-catalog__drop-link" href="#">Костюми</a>
          <a class="bl-catalog__drop-link" href="#">Шкарпетки</a>
          <a class="bl-catalog__drop-link" href="#">Джинси</a>
          <a class="bl-catalog__drop-link" href="#">Футболки</a>
          <a class="bl-catalog__drop-link" href="#">Білизна</a>
          <a class="bl-catalog__drop-link" href="#">Светри</a>
          <a class="bl-catalog__drop-link" href="#">Шорти</a>
          <a class="bl-catalog__drop-link" href="#">Брюки</a>
        </li>
        <li class="bl-catalog__drop-item">
          <p class="bl-catalog__drop-title">Діти</p>
          <a class="bl-catalog__drop-link" href="#">Верхній одяг</a>
          <a class="bl-catalog__drop-link" href="#">Сукні</a>
          <a class="bl-catalog__drop-link" href="#">Комбінезони</a>
          <a class="bl-catalog__drop-link" href="#">Спідниці</a>
          <a class="bl-catalog__drop-link" href="#">Джинси</a>
          <a class="bl-catalog__drop-link" href="#">Футболки</a>
          <a class="bl-catalog__drop-link" href="#">Білизна</a>
          <a class="bl-catalog__drop-link" href="#">Светри</a>
          <a class="bl-catalog__drop-link" href="#">Піжами</a>
        </li>
        <li class="bl-catalog__drop-item">
          <p class="bl-catalog__drop-title">Виробники</p>
          <a class="bl-catalog__drop-link" href="#">Астра</a>
          <a class="bl-catalog__drop-link" href="#">Ангар</a>
          <a class="bl-catalog__drop-link" href="#">Брік</a>
          <a class="bl-catalog__drop-link" href="#">Бурштин</a>
          <a class="bl-catalog__drop-link" href="#">Декатлон</a>
          <a class="bl-catalog__drop-link" href="#">Денім</a>
          <a class="bl-catalog__drop-link" href="#">Віра</a>
          <a class="bl-catalog__drop-link" href="#">Вона</a>
          <a class="bl-catalog__drop-link all" href="#">усі виробники</a>
        </li>
      </ul>
    </li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">Взуття</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ПОБУТОВА ТЕХНІКА</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">КАФЕ ТА РЕСТОРАНИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ДИТЯЧІ ТОВАРИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ЗООТОВАРИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ДІМ ТА САД</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ПРИКРАСИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">КНИГИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">КРАСА ТА ЗДОРОВ’Я</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ХАРЧОВІ ПРОДУКТИ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ПОБУТОВА ХІМІЯ</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ТОВАРИ ДЛЯ АВТО</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">ЕЛЕКТРОНІКА</a></li>
    <li class="bl-catalog__item"><a href="#" class="bl-catalog__link">РІЗНЕ</a></li>
  </ul>
</div>
{{yield}}
