<div class="bl_popular col-xs-9">
  <h2 class="bl_popular__title">{{t heading}}</h2>
  <span class="bl_popular__slide-arrow left"></span>
  <span class="bl_popular__slide-arrow right"></span>
  <div class="bl_popular__slider"><span class="bl_popular__changer"></span></div>
  
  <ul>
    {{#each chunk in data}}
      {{goods/good-popular productType=productType data=chunk popular=true wrapperClass="col-xs-4"}}
    {{/each}}
  </ul>

</div>
{{yield}}
