<div class="main-wrapper">
  {{bl-header model=model}}
  {{outlet}}
  <div class="buffer"></div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</footer>