<form action="#" method="get" class="bl-header__form">
  <input class="bl-header__input-search" type="search" placeholder="{{model.header.input_placeholder}}" required>
  <button class="bl-header__btn" type="submit"></button>
</form>
<span class="bl-header__now-search">1 764 {{model.header.now_seeking}}</span>
{{yield}}
